<?php
/** @var \Bss\PrivateContent\Block\OrdersCount $block */
?>
<p>from block: <?= $block->getOrdersCount() ?></p>
<div class="aureatelabs-custom-section" data-bind="scope: 'counter'">
    <p>from Customer data: <span data-bind="text: ordersCount"></span></p>
</div>
<script type="text/x-magento-init">
    {
    	"*": {
        	"Magento_Ui/js/core/app": {
            	"components": {
                	"counter": {
                    	"component": "Bss_PrivateContent/js/count"
                	}
            	}
        	}
    	}
    }
</script>
